body {
    font-family: Arial;
    margin: 0pt;
}

h1 {
    font-size: 40pt;
    font-weight: normal;
    color: gold;
    background-color: rgb(104, 0, 0);
    padding: 10pt;
}

h2 {
    font-size: 20pt;
    color: gold;
    background-color: rgb(104, 0, 0);
}

p {
    font-size: 14pt;
    padding-left: 10pt;
}

ul {
    font-size: 18pt;
    color: gold;
    background-color: rgb(104, 0, 0);
}

p::first-letter {
    font-size: 20pt;
    color: gray;
}